# change to production before deploying
NODE_ENV='development'
PORT=5000
APP_ID='00000000-0000-0000-0000-000000000000'
DOMAIN='example.com'
URL='http://localhost:5000'
# Database config
DATABASE_URL='postgresql://postgres:postgres@localhost:5432/general'
# JWT config
JWT_ACCESS_TIME=600
JWT_CONFIRMATION_SECRET='random_string'
JWT_CONFIRMATION_TIME=3600
JWT_RESET_PASSWORD_SECRET='random_string'
JWT_RESET_PASSWORD_TIME=1800
JWT_REFRESH_SECRET='random_string'
JWT_REFRESH_TIME=604800
# Refresh token
REFRESH_COOKIE='rf'
COOKIE_SECRET='random_string'
# Email config
EMAIL_HOST='mail.google.com'
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER='john.doe@gmail.com'
EMAIL_PASSWORD='password'
# Redis Server Set up
REDIS_URL='redis://localhost:6379'
# Throttler config
THROTTLE_TTL=60
THROTTLE_LIMIT=20
# OAuth config
MICROSOFT_CLIENT_ID='microsoft_client_id'
MICROSOFT_CLIENT_SECRET='microsoft_client_secret'
GOOGLE_CLIENT_ID='google_client_id'
GOOGLE_CLIENT_SECRET='google_client_secret'
FACEBOOK_CLIENT_ID='facebook_client_id'
FACEBOOK_CLIENT_SECRET='facebook_client_secret'
GITHUB_CLIENT_ID='github_client_id'
GITHUB_CLIENT_SECRET='github_client_secret'